body, html {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    height: 100vh;
    color: #151515;
}

.navbar {
    position: sticky;
    top: 0;
    color: #151515;
    background: #f7f7f7;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    padding: 1%;
    text-align: center;
    z-index: 10;
    font-family: neue-kabel, sans-serif;
font-weight: 600;
font-style: normal;
}

.navbar ul {
    color: #151515;
    list-style: none;
    display: flex;
    align-items: center;
    gap: 2rem;
    margin: 0;
    padding: 0;
}

.navbar a {
    text-decoration: none;
    color: #151515;
    font-weight: bold;
}

a:hover {
    color: #9a4fc7;
}

#bluesky-nav{
    height:20px;
    margin-top:5px;
}

#bluesky-item{
    margin-left:auto
}

#bluesky-end{
    height: 60px;
}

.bluesky:hover{
    filter: invert(37%) sepia(42%) saturate(1637%) hue-rotate(245deg) brightness(87%) contrast(86%);
}

H1 {
    font-family: "petala-pro", sans-serif;
    text-align: center;
    font-size: 3rem;
    font-weight: 800;
    font-style: normal;
}

.content{
    scroll-snap-align: start;
    min-height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 5%;
    box-sizing: border-box;
    gap: 1rem;    
}

#end{
    padding-bottom: 100px;
    min-height: 100vh;
}

.feed {
    display: flex;
    flex-direction: column;
    padding-top: 5%;
}

.video-card {
    scroll-snap-align: start;
    min-height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 4%;
    box-sizing: border-box;
    gap: 1rem;
}

.caption {
    position: sticky;
    top: 0;
    padding: 0.5rem;
    font-size: 1.2rem;
    text-align: center;
    font-family: felt-tip-woman, sans-serif;
}

.video-container video {
    width: auto;
    height: 80vh;
    aspect-ratio: 9/16;
    object-fit: cover;
}
